<html xmlns:th="http://thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Home</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div>
  <h3>Bem vindo ao Spring Security!</h3>
</div>
<div>
  <p>Ver Lista de usuarios </p>
  <a href="http://localhost:8080/usuarios"><button>Acessar</button></a>

</div>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>
