<html xmlns:th="http://thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Cadastro de Pessoas</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <h3>Lista de Pessoas cadastradas</h3>
  <!--<h4><a href="/cadastrarUsuarios" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar</a></h4>-->
  <table>
    <thead>
      <tr>
        <th>Login</th>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="usuario : ${usuarios}">
        <td><span th:text = "${usuario.login}"></span ></td>
        <td><span th:text = "${usuario.nome}"></span ></td>
      </tr>
    </tbody>
  </table>

  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>
